body {
    margin: 2px;
    background-color: #300061;
  }

h1 {
  color: white;
  text-align: center;
  font-style: italic;
}

p {
  color: white;
  text-align: center;
}

marquee {
  user-select: none;
  
}

marquee img {
  user-select: none;
  pointer-events: none;
}

marquee img:hover {
  animation: shake 1s ease-in-out infinite;
}

.header {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: relative;
  user-select: none;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: white;
  margin: 0 auto; 
  padding: 5px 10px; 
  font-size: auto;
  border: 2px ridge white;
  user-select: none;
  border-radius: 5px;
}

a:hover {
  transition: all 0.2s ease;
  color: yellow;
  cursor: pointer;
  user-select: none;
  animation: an_shake 1s ease-in-out infinite;
}

a:active {
  color: blue;
  user-select: none;
}

.model-container {
  margin: 5px;
  border: solid black;
  background-color: #490092;
  display: flex;
  border-radius: 10px;
}

.left-side, .right-side {
  flex: 1;
  padding: 20px;
}


.model-container img {
  position: relative;
  max-width: 40%;
  height: auto;
  align-self: flex-end;
  user-select: none;
}

.model-container button {
  background-color: black;
  text-decoration: none;
  color: white;
  margin: 0 auto;  
  padding: 5px 10px; 
  font-size: auto;
  border: 2px ridge white;
  user-select: none;
  border-radius: 0px;
  box-shadow: 4px 4px black;
}

.logo {
  height: auto;
  max-width: 10%;
  align-self: center;
  pointer-events: none;
}

@keyframes an_shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg);}
}

@keyframes rotate {
  to { transform: rotate(360deg);}
}

@keyframes wave2 {
	0% {
		transform: translate(5px);
	}
	50% {
		transform: translate(-5px);
	}
	100% {
		transform: translate(5px);
	}
}

@keyframes ping {
	0% {
		transform: scale(1.025);
		opacity: 1;
	} 
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 5px red;  
  }
}

@keyframes beat {
  0% { transform: scale(1,1);
}
 30% {
  transform: scale(1.1, 1.1); 
}
100% {
  transform: scale (1, 1); 
}
}

@keyframes shake
{
0% {
  transform: translate(1px, 1px) rotate(0deg);
}
10% {
  transform: translate(0px, 1px) rotate(0deg);
}
20% {
  transform: translate(-1px, 0px) rotate(0deg);
}
30% {
  transform: translate(1px, 1px) rotate(0deg);
}
40% {
  transform: translate(1px, 0px) rotate(0deg);
}
50% {
  transform: translate(0px, 1px) rotate(0deg);
}
60% {
  transform: translate(-1px, 1px) rotate(0deg);
}
70% {
  transform: translate(1px, 0px) rotate(0deg);
}
80% {
  transform: translate(0px, -1px) rotate(0deg);
}
90% {
  transform: translate(1px, 0px) rotate(0deg);
}
100% {
  transform: translate(1px, -1px) rotate(0deg);
}
}

@keyframes blinker
{
50% {
  opacity: 0.45;
}
}